body {
    background-color: black;
    color: white;
    font-family: sans-serif;
}

h1 {
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;

    animation-name: grow;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes grow {
    0%, 100% {
        font-size: 2rem;
        opacity: 0%;
    }

    50% {
        font-size: 15rem;
        opacity: 100%;
    }
}