html {
    background-color: black;
    color: white;
    font-family: Helvetica, sans-serif;
}

.heading {
    text-align: center;
    cursor: default;
}

.book {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.thumbnail {
    border-radius: 1rem;

    transition-duration: 500ms;
}

.thumbnail[src^="http"]:hover {
    scale: 1.1;
    box-shadow: 0 0 0.5rem 0.5rem blue;

    transition-duration: 500ms;
}

@media (orientation:portrait) {
    .thumbnail {
        width: 70vw;
    }
}

@media (orientation:landscape) {
    .thumbnail {
        width: 20vw;
    }
}