html {
    background-color: black;
    color: white;
    font-family: Helvetica, sans-serif;
}

.heading {
    text-align: center;
    cursor: default;
}

.book {
    margin-top: 5rem;
    margin-bottom: 5rem;
}