body {
    background-color: black;
    color: rgb(0, 255, 0);
    font-family: "Lucida Console", sans-serif;
}

a {
    color: rgb(204, 255, 0);
}

a:hover {
    text-decoration: none;
    color: green;
}

a:active {
    color: red;
}

#heading {
    text-align: center;
}

h3 + ul li + li + li a {
    color: red;
}

h2 {
    text-align: center;
}

.book {
    padding: 10px;
}

.category h2 + ul li {
    list-style-type: square;
}