body{
    background-color: black;
    color: white;
}

h1{
    text-align: center;
}

p {
    text-align: center;                
    color: white;
    list-style-type: none;

    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;
}

a{
    color: white;
    text-decoration: none;
    padding: 3px;
    border-radius: 7px;
}

a:hover {
    background-color: white;
    color: black;
}