html {
    background-color: #575757;
    overflow-x: hidden;
}

body {

    background-color: #282828;
    color: rgb(180, 180, 180);

    border-radius: 0.5rem;

    box-shadow: 0 0 0.5rem 0.5rem black;

    font-family: sans-serif;

    overflow-x: hidden;

    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    padding: 1%;
}

hr {
    border-color: #505050;
    margin: 0;
    padding: 0;
}

h1,
h2 {
    color: rgb(200, 200, 200);
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.logo {
    height: 1em;
    vertical-align: middle;
}

.page-content > ul > li ul {
    font-size: 0.8em;
}

.page-content ul {
    list-style-type: none;
}

.page-content ul > li::before {
    /* content: '\27A5'; */
    display: inline-block;
    margin-right: 0.5em;

    /* width: 1em; */
    color: rgb(200, 200, 200);
}

.content-li::before {
    content: '\27A5';
}

.content-li ul li::before {
    content: '\2767';
}

li {
    margin: 0.5em;
}

.page-content{
    padding: 1%;
}


.heading {
    display: inline-block;
    vertical-align: middle;
}

#profilepicholder {
    padding: 0;
    width: 30%;

    margin-left: 1%;
    margin-right: 1%;
}

#profilepic {
    border-radius: 50%;
    width: 100%;
    height: 100%

    /* width: 100px;
    height: 100px; */
}

#contactinfo {
    width: 60%;
    height: 100%;
}

#name {
    text-indent: 25%;
}

#name + ul {
    padding: 0;
}

#name + ul li {

    list-style: none;

    text-indent: 25%;
    
    margin: 0.5em;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}