body {
    background-color: black;
    color: white;
    font-family: sans-serif;
}

#heading {
    text-align: center;
}

.songlist{
    list-style: none;
}

.thumbnail {
    vertical-align: middle;
    margin-right: 5ch;

    transition-duration: 500ms;
}

.thumbnail:hover {
    scale: 1.1;
    transition-duration: 500ms;
}

.songname {
    display: inline-block;
}

.footer {
    text-align: center;
}

.sheetlink {
    color: white;
}