body {
    background-color: black;
    color: white;
    font-family: sans-serif;
}

#heading {
    text-align: center;
}

li {
    font-size: 18px;
    margin: 10px;
}

img {
    height: 40px;
    margin-left: 10px;
    vertical-align: middle;
}

.yt {
    background-color: black;
    display: inline-block;
    width: 45px;
    height: 40px;
    vertical-align: middle;
    margin-left: 10px;

    background-image: url(../res/logos/colored/youtube.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}